*{
    box-sizing: border-box;
}
html,body{
    font-family: 'Inter';
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, #d3ba92, #d3ba92, #dbdbc1, #dbdbc1);
}
/* UTILS */
.d-none{
    display: none !important;
}
.t-center{
    text-align: center;
}
.svg-hover:hover{
    cursor: pointer;
}
/* ============ */
.app-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
}

.svg-full-position{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
}

.student-g{
    transform-box: fill-box;
    transform-origin: center;
}
.delay-1{
    animation-delay: 1s;
}
.delay-2{
    animation-delay: 1.8s;
    animation-duration: 4s;
}
.delay-3 {
    animation-delay: -1.9s;
    animation-duration: 3.5s;
}
.shakeStudent{
    animation-name: studentShake;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.doctor-svg{
    _transform: translateX(1000px);
}
.doctor-svg.move{
    animation: doctorMove 3s ease forwards ;
    /* animation-duration: 3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; */
}
.doctor-svg.move>g{
    animation: doctorStep 0.5s ease forwards infinite;
}
/* АНИМАЦИЯ ПЕСОЧНЫХ ЧАСОВ */
.clockRotate{
    transform-box: fill-box;
    transform-origin: center;
    animation: clockRatate 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both 2;
}
@keyframes clockRatate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/* ======================== */
.flowerRotate{
    animation: flowerRatate 1.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
    animation-direction: alternate;
}
@keyframes flowerRatate{
    from{
        transform: rotate(-2deg);
    }
    to{
        transform: rotate(2deg);
    }
}
@keyframes studentShake{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(1.5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-1.5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes doctorMove {
    0%{
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes doctorStep {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}

/* MAIN MODAL */
.modal-main{
    position: absolute;
    padding: 60px;
    display: flex;
    flex-direction: column;
    top:50%;
    left: 50%;
    width: 100%;
    max-width: 1060px;
    height: 100%;
    max-height: 444px;
    background: white;
    border-radius: 5px;
    border: 2px solid #FC5756;
    transform: translate(-50%,-50%);
}
.modal-main_content{
    flex: 1;
    font-size: 24px;
}
.modal-main_action{
    display: flex;
    justify-content: center;
}
@media (max-width:460px) {
    .modal-main {
        padding: 40px;
        height: auto;
        max-height: 100%;
    }
}
@media (max-height:330px) {
    .modal-main {
        padding: 20px;
        height: auto;
        max-height: 100%;
    }
}
/* MODAL BTNS */
.btn-modal-second{
    background: #FC5756;
    transition: all 0.3s;
    border-radius: 5px;
    border:none;
    text-align: center;
    padding: 16px;
    min-width: 200px;
    color: white;
    font-size: 24px;
}
.btn-modal-second:hover{
    cursor: pointer;
    background: #d04a4a;
}
.btn-modal-second.green{
    background: #ABBA21;
}
.btn-modal-second.green:hover{
    background: #97a51d;
}

/* ======== MODAL MANIPULATION =========== */
.modal-manip{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 60px;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 1060px;
    max-height: 640px;
    border-radius: 5px;
    border:2px solid #FC5756;
}
.modal-manip_action{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}

.modal-manip_action .action-item{
    transition: all 0.3s;
    text-align: center;
    flex: 1;
    width: 20%;
}
.action-item>svg{
    min-width: 105px;
    max-width: 165px;
}
.modal-manip_action .action-item:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.modal-namip_svg{
    flex: 1;
    overflow: hidden;
}
@media (max-width:784px){
    .modal-manip_action{
        row-gap: 20px;
    }
    .modal-manip_action .action-item{
        flex: none;
        width: 26%;
    }
}
@media (max-width:500px){
    .modal-manip_action .action-item{
        flex: 25%;
    }
}
@media (max-width:460px){
    .modal-manip{
        padding: 20px;
        padding-bottom: 0;
    }
}
/* ======================================= */
/* ====== MODAL CONFIRM ======= */
.modal-confirm{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: 1px solid #FC5756;
    background: #DCF7FF;
    display: flex;
    flex-direction: column;
    padding: 40px;
    /* height: 100%;
    max-height: 320px; */
    justify-content: space-between;
}
.modal-confirm_content{
    font-size: 24px;
    text-align: center;
}
.modal-confirm_action{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
@media (max-width:514px){
    .modal-confirm_action{
        flex-direction: column;
    }
    .modal-confirm{
        width: 100%;
    }
}
/* MODAL OPERATION */
.modal-operation{
    padding: 40px;
    position: absolute;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: 10px solid #FC5756;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 886px;
    width: 100%;
    max-width: 720px;
}
.modal-operation.sweet{
    border-width: 2px;
}
.modal-operation.sweet>.operation-action{
    gap:40px;
}
@media (max-width: 480px){
    .modal-operation.sweet>.operation-action{
        flex-direction: column;
    }
}
.modal-operation.success{
    border-color: #ABBA21;
}
.operation-text{
    text-align: center;
    font-size: 24px;
}
.operation-img{
    flex: 1;
    padding: 40px;
}
.operation-img_wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
.operation-img svg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.operation-action{
    display: flex;
    justify-content: center;
}

/* COUTDOWN */
.coutdown{
    position: absolute;
    background: #FC5756;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 8px solid #FEB728;
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.coutdown>span{
    color: white;
    font-size: 128px;
}

/* MODAL DOCTOR */
.modal-doctor{
    position: absolute;
    border: 2px solid #FC5756;
    border-radius: 5px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    /* height: 100%; */
    max-width: 1060px;
    /* max-height: 460px; */
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.modal-doctor_content{
    flex: 1;
    display: flex;
    justify-content: center;
    gap:40px;
    flex-wrap: wrap;
}
.modal-doctor_content_item{
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.item_svg>svg{
    min-width: 105px;
    max-width: 165px;
}
.modal-doctor_content_item:hover{
    cursor: pointer;
    transform: scale(1.1);
}
@media (max-width: 784px){
    .modal-doctor_content_item {
            flex: none;
            width: 26%;
    }
}
.item_svg>svg{
    width: 100%;
    height: 100%;
    min-height: 100px;
}
.modal-doctor_action{
    margin-top:40px;
    text-align: center;
}
.modal-doctor-error{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 480px;

    background: #E46143;
    color: white;
    padding: 40px;
}
.modal-doctor-error_content{
    font-size: 24px;
    text-align: center;
}
.modal-doctor-error_action{
    text-align: center;
    margin-top: 40px;
}

/* MODAL INSPECT */
.modal-inspect{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
  height: 100%;
  max-width:720px;
  max-height: 700px;
  background: #DCF7FF;
  border: 1px solid #2187A7;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.modal-inspect_caption{
    font-size: 32px;
    text-align: center;
    margin-bottom: 40px;
}
.modal-inspect_content{
    flex: 1;
}
.inspect-svg{
    width: 100%;
    height: 100%;
    position: relative;
}
.inspect-svg>svg{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
}
.inspect-text{
    font-size: 20px;
}
.modal-inspect_action{
    margin-top: 40px;
    text-align: center;
}

@media (orientation: landscape) and (max-height: 500px){
    .modal-inspect{
        padding: 20px;
    }
    .modal-inspect_caption{
        margin-bottom: 20px;
    }
    .modal-inspect_action{
        margin-top: 20px;
    }
}


.modal-diagnoz{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:100%;
  max-width:1060px;
  background:white;
  border:2px solid #003758;
  padding: 40px;
}
.modal-diagnoz>h3{
  position:relative;
  font-size:32px;
  text-align:center;
  font-weight:500;
  padding:0;
  margin:0;
}
.modal-diagnoz_variants{
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:26px;
  margin-top:40px;
}
.btn-diagnoz{
  transition: all 0.2s;
  border:2px solid #003758;
  background:none;
  color:#003758;
  font-size:20px;
  padding: 20px 50px;
  text-align:left;
  width:100%;
  max-width:560px;
}
.btn-diagnoz:hover{
  cursor:pointer;
  background:#003758;
  color:white;
}
@media (max-height:509px){
    .modal-diagnoz{
        padding-top: 20px;
        padding-bottom: 15px;
    }
    .modal-diagnoz_variants{
        gap: 10px;
        margin-top: 20px;
    }
    .btn-diagnoz{
        padding: 10px 50px;
    }
}

/* error-modal */
.modal-error{
  background:#E46143;
  padding:60px;
  color:white;
  font-size:24px;
  position:absolute;
  top:50%;
  left:50%;
  width: 100%;
  max-width: 500px;
  transform:translate(-50%,-50%);
}
.modal-error.succes{
    background: #ABBA21;
}
.modal-error_text{
  text-align:center;
}
.modal-error_action{
  text-align:center;
  margin-top:40px;
}
.btn-error{
  background:none;
  border:2px solid white;
  border-radius: 5px;
  color:white;
  padding:20px 40px;
  font-size:24px;
}
.btn-error.green:hover{
    background: #97a51d;
}
.btn-error:hover{
  cursor:pointer;
  background:#c74d32;
}

/* MODAL RESUME */
.modal-resume{
    /* position: absolute; */
    border: 2px solid #FC5756;
    border-radius: 5px;
    background: white;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    width: 100%;
    /* height: 100%; */
    max-width: 1060px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.resume-caption{
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #383838;
}
.resume-content{
    flex: 1;
    overflow: auto;
}
.resume-content>p{
    font-size: 18px;
}
.resume-content>p:last-child{
    margin-bottom: 40px;
}
.resume-action{
    text-align: center;
}

.shake-vertical {
	-webkit-animation: shake-vertical 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-vertical 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}


/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}